<div class="about-body">

  <div class="center-block">

    <div class="profile-pic"></div>

    <div class="text-box-about">

    </div>

    <button type="button" class="btn btn-primary">Click Me!</button>

  </div>

</div>
