<div id="test" class="home-body">

  <h1>👋 hello <span id="world">world</span>.</h1>


  <div class="center-block">

    <div class="black-window">
      <div class="prompt">
        <h1>></h1>
        <h1 class="blink">_</h1>
      </div>
    </div>

    <div class="text-box-home">
      <h5>Hello and welcome to my portfolio! Thanks for taking the time to stop by and I hope you enjoy looking around.</h5>
    </div>

  </div>

</div>

<script>

</script>
