.home-body {
}

h1 {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.center-block {
  background-color: white;
  width: 24rem;
  height: 36rem;
  border-radius: 6px;
  margin: auto;
}

.profile-pic {
  width: 8rem;
  height: 8rem;
  margin: auto;
  background-color: wheat;
  border: 4px solid #333;
  border-radius: 50%;
  position: absolute;
  left: 1080px;
  top: 160px;
}
