// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
:root {
  --myblue-dark: #21325E;
  --myblue-light: #3E497A;
  --myyellow: #F1D00A;
  --mywhite: #F0F0F0;
}
